/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-exp-acc-exp-cover{
	display: flex;
}

.wp-block-exp-acc-exp-cover>.block-editor-inner-blocks,
.wp-block-exp-acc-exp-cover>.block-editor-inner-blocks>.block-editor-block-list__layout{
	width: 100%;
	height: 100%;
	flex-direction: inherit;
}

.wp-block-exp-acc-exp-cover>.block-editor-inner-blocks>.block-editor-block-list__layout{
	display: flex;
	flex-direction:inherit;
	align-self: var(--alignItems);
	justify-content: var(--justifyContent);
}

.wp-block-exp-acc-exp-cover>.block-editor-inner-blocks>.block-editor-block-list__layout>*{
	flex-grow: var(--contentGrow);
}

