.wp-block-exp-acc-exp-cover {
	transition:flex-grow var(--transTime) var(--transEase);
	flex-grow:1;
	margin: 0;
	width:100%;
	height: var(--minSize);
	min-height: var(--minSize);
	font-size: 3em;
	display: flex;
	align-items: var(--alignItems) !important;
	justify-content: var(--justifyContent) !important;
}

.wp-block-exp-acc-expansive-accordion:has(.is-panel-open) .wp-block-exp-acc-exp-cover{
	flex-grow:0;
}
